<% include partials/head%>
  <% include partials/navbar%>
  <body>
    <h1><%= title %></h1>
    <div class="all-people">
      <% users.forEach(function(user) { %>
      <div class="user">
        <a class="userName" href="/profile/<%= user._id%>"> <%= user.firstname %> <%= user.lastname %> </a>
        <img class="profilePic" src="<%= user.image_url %>" style="max-height: 100px; max-width: 100px;"/>
        <form method="post" action="/frequest/<%= user._id%>">
          <input id="everyoneBut"type="submit" class="btn btn-primary" value="Send Request"/>
        </form>
      </div>
      <% }) %>
    </div>

  </body>
</html>
