<% include partials/head%>
  <body>
    <% include partials/navbar%>
    <h1><%= title %></h1>
    <% users.forEach(function(user) { %>
    <div class="people">
      <a href="/profile/<%= user._id%>"> <%= user.firstname %> <%= user.lastname %> </a>
      <img src="<%= user.image_url %>" style="max-height: 100px; max-width: 100px;"/>
      <form method="post" action="/frequest/<%= user._id%>">
        <input type="submit" class="btn btn-primary" value="Send Request"/>
      </form>
      <% }) %>
  </body>
</html>
