<% include partials/head%>
  <% include partials/navbar%>
  <body>
    <h1><%= title %></h1>
    <div class="all-people">
      <% users.forEach(function(user) { %>
      <div class="user">
        <a href="/profile/<%= user._id%>"> <%= user.firstname %> <%= user.lastname %> </a>
        <img src="<%= user.image_url %>" style="max-height: 100px; max-width: 100px;"/>
      </div>
      <% }) %>
    </div>

  </body>
</html>

