<% include partials/head %>
  <% include partials/navbar %>
  <body>
  <div class="profile">
    <div class="left-profile">
      <h1> <%= profileUser.firstname %> <%= profileUser.lastname %> </h1>
      <img src="<%= profileUser.image_url %>" style="max-height: 100px; max-width: 100px;" alt="<%= user.firstname %>">
      <h2 class="location"><%= profileUser.location %></h2>
      <h2 class="age"><%= profileUser.age %></h2>
      <form action="/<%= user._id %>/edit" method="get" >
        <input type="submit" class="btn btn-primary" value="Edit">
      </form>
      <form method="post" action="/frequest/<%= user._id%>">
        <input id="everyoneBut"type="submit" class="btn btn-primary" value="+Match"/>
      </form>
    </div>
    <p class="aboutme"><%= user.aboutme %></p>
    <div class="myPeople">
    <%if(friends) { %>
      <% friends.forEach(function(user) { %>
      <div class="user">
        <a href="/profile/<%= user._id%>"> <%= user.firstname %> <%= user.lastname %> </a>
        <img src="<%= user.image_url %>" style="max-height: 100px; max-width: 100px;"/>
      </div>
      <% }) %>
    <% } %>
  </div>
</body>
</html>
